---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Layout from '../layouts/Layout.astro';
import H1 from './H1.astro';
import Main from './Main.astro';
---

<Layout title="Rhythm Nation blog">
	<Main><H1 text="Welcome to Rhythm Nation" /></Main>
</div>
</Layout>

